<div class="card teal darken-1">
  <div class="card-content white-text">
    <div class="row">
      <div class="col m4">
        <span class="card-title" *ngIf="searchBy == 0">{{data.teamName}}</span>
        <h6><b>{{data.bookedBy}}</b></h6>
      </div>
      <div class="col m5 offset-m3">
        <span class="card-title">{{data.status}}</span>
        <div>{{data.startTime|date:'shortTime'}} to {{data.endTime|date:'shortTime'}}</div>
      </div>
    </div>
  </div>
  <div class="card-action">
    <a href="#">Cancel</a>
  </div>
</div>
