.input-field input[type=text]:focus {
     border-bottom: 1px solid #01579b;
     box-shadow: 0 1px 0 0 #01579b;
}

.input-field input[type=password]:focus {
     border-bottom: 1px solid #01579b;
     box-shadow: 0 1px 0 0 #01579b;
}

.login-container{
  background-image: url("o2 be more dog 3.jpg");
}
